version: 2.1
jobs:
  save_hello_world_output:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run:
          command: echo "hello world" > output.txt
      - persist_to_workspace:
          root: .
          paths: myfiles

  print_output_file:
    docker: 
      - image: circleci/node:13.8.0
    steps:
      - attach_workspace:
          at: .
      - run:
          command: cat output.txt


workflows:
  welcome:
    jobs:
      - save_hello_world_output
      - print_output_file:
          requires:
            - save_hello_world_output
